#eleven{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(25,400px);
    width: 100%;
    gap:30px;
    /* margin-bottom: 1000px; */
    
    /* height: 400px; */
    /* border:1px solid yellow; */
    
    /* margin-left: 45px; */
   
} 
/* #eleven>div{ */
   /* border: 1px solid rgb(198, 44, 70); */
/*    
} */
/* #eleven>div>img{
    width:100%;
    height:80%;
    
 } */
 #eleven>div{
    text-align: center;
    line-height: 30px;
 }
 #eleven>div>p{
     margin-top: -6px;
     font-size: 14.5px;
    
     
  }
  #eleven>div>p+p{
    font-weight: bold;
    margin-top: 1px;
  }
  #eleven>div>h5{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
  }

  #twelve{
    height:80px;
    width:100%;
    /* margin:auto; */
    /* border:1px solid teal; */
    text-align: center;
}
#twelve>p{
    font-size: 12.5px;
    margin-top:-13px;
}

#eleven{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,280px);
    gap:0px;
    width:70%;
    margin:auto;
    margin-top:20rem;
   margin-top: 100px;
   
   
}
#eleven>div{
    /* border:1px solid blue; */
     width:80%;
    
}
#eleven>div>p{
    /* font-weight: bold; */
    color:rgb(20, 19, 19);
    font-size: 14px;
    text-decoration: none;
    font-weight: -2px;
   cursor: pointer;

}
#eleven>div>h3{
    font-weight: bold;
    font-size: 13px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
#twelve{
    height:80px;
    width:100%;
    /* margin:auto; */
    /* border:1px solid teal; */
    line-height: 40px;
    text-align: center;
}
#twelve>p{
    font-size: 12.5px;
    margin-top:-13px;
}