*{
    margin: 0px;
    padding: 0;
    
}

/* nav-bar starts */


section{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

.container1 > div{
    background-color: rgb(249, 212, 218);
    margin-bottom: 35px;
    padding: 35px;
    font-family: 'Source Sans Pro', sans-serif;
}
.container1 > div>h3{
    margin-bottom: 15px;
    font-weight: bold;
}
.container1 > div > p{
    font-size: 12px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    line-height: 15px;
}
.container1 > div > p>span{
    font-weight: bold;
}
.container1 h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.container2{
    display: flex;
    gap: 7rem;
}
.container2 > .aboutUs > .inner > h3{
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.container2 > .aboutUs > .inner > p{
    line-height: 25px;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}
.container2 > .aboutUs > p{
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.container2 > .aboutUs > p:hover{
    color: gray;
}

